*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box
}
.masker{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
}
.content{
    width: 90%;
    min-height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    padding:0 20px;
    background: #FFF3BF;
}
.content h3{
    line-height: 50px;
}
.content h3 span{
    float:right;
}
.content h4{
    line-height: 40px;
}
.button{
    margin-top: 20px;
    width: 80px;
    margin-right: 10px;
    height: 30px;
    background: #FFF3BF;
    border: 0;
    outline: 0;
}
.button img{
    width: 1.3rem;
    height: 0.5rem;
    margin-left: .7rem;
}